/* 
    使用媒体 控制各栏显示状态
*/
@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 992px) {
    .left {
        display: none;
    }
}

@media (max-width: 576px) {
    .right {
        display: none;
    }
}