@{
    ViewBag.Title = "测试";
    Layout = "LeftBarLayout";
}

<div class="row">
    <div class="col-md-2">
        <ul>
            <li>
                <a asp-controller="Bolg" asp-action="ClassInfo">分类管理</a>
            </li>
            <li>
                <a asp-controller="Blog" asp-action="ArticleInfo">文章管理</a>
            </li>
        </ul>

    </div>
    <div class="col-md-10">
        Test2

    </div>
</div>