@model MyBlog.DTO.Blog.IndexInfoDto

@{
    ViewData["Title"] = Model.BlogInfo.BlogName;
}

@section Content{
    <link rel="stylesheet" href="~/Content/Blog/blog.css" />
}

@section Scripts{
    <script src="~/Scripts/Blog/Blog.js"></script>
}

<h2>MY Blog List</h2>

<p>This is MVC Template</p>

<p>
    <div> Test:</div>
    <div style="font-size:30px">
    </div>

    @Html.DisplayFor(m => m.BriefIntroductionList, "BriefIntroduction")



</p>


